{% load static %}

<!--==========================
  Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Müşterilerimiz</h2>
      </div>
      <div class="owl-carousel clients-carousel">
        
        {% for müsteri in müsteriler %}
          
          {% if müsteri.image %}
            <img src="{{ müsteri.image.url }}" alt="">
          {% endif %}
        {% endfor %}
      </div>
  
    </div>
  </section><!-- #clients --> 