{% load static %}

<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Hizmetimizden yararlanın</h3>
          <p class="cta-text">örnek boş paragraf</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="{% url 'contact' %}">İletişime geçin</a>
        </div>
      </div>
  
    </div>
  </section><!-- #call-to-action -->