{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
    Page Banner Section
  ============================-->
  <section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>katalog</span><br></h2>
      <div> 
      </div>
    </div> 
  </section><!-- #Page Banner -->
  
  <!--==========================
    Our Portfolio Section
  ============================-->
  <section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        
        <p>katalog</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/1-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/1-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/2-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/2-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/3-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/3-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/4-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/4-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/4-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/4-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/3-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/3-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name </h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/2-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/2-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name </h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="portfolio-item wow fadeInUp">
            <a href="{% static 'img/portfolio/1-.jpg' %}" class="portfolio-popup">
              <img src="{% static 'img/portfolio/1-.jpg' %}" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp">Name</h2></div>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #portfolio -->
  {% endblock %}