{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
    Page Banner Section
  ============================-->
  <section id="innerBanner"> 
    <div class="inner-content">
      <h2><span>katalog</span><br></h2>
      <div> 
      </div>
    </div> 
  </section><!-- #Page Banner -->
  
  <!--==========================
    Our Portfolio Section
  ============================-->
  <section id="portfolio" class="wow fadeInUp">
    <div class="container">
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">
        
        {% for kat in katalog %}
          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="{{kat.resim.url}}" class="portfolio-popup">
                <img src="{{kat.resim.url}}" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">{{kat.yazı}}</h2></div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
          
        

        

      </div>

    </div>
  </section><!-- #portfolio -->
  {% endblock %}