{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
Page Banner Section
============================-->
<section id="innerBanner"> 
<div class="inner-content">
    <h2><span>İletişim</span><br></h2>
    <div> 
    </div>
</div> 
</section><!-- #Page Banner -->

<!--==========================
    Contact Section
============================-->
<section id="contact" class="wow fadeInUp">
    <div class="container">
        
        <div class="row contact-info">
            <div class="col-lg-5"> 

                <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Adres</h3>
                <p>{{ iletisim.adres }}</p>
                </div> 

                <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Tel no</h3>
                <p>{{ iletisim.telefon }}</p>
                </div> 

                <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p>{{ iletisim.mail }}</p>
                </div> 

            </div>
        </div>
    </div>

    <div class="container mb-4 map">
    <iframe src="{{ iletisim.harita }}" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </div>

    </section><!-- #contact -->
{% endblock %}

