{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
  Intro Section
============================-->
<section id="intro">

  <div class="intro-content">
    <h2 style="color: black;"><span style="color: white;background-color:  #00b1e4;">HS</span><span style="color: black;">alüminyum</span><br>Alüminyum Profil</h2>
  </div> 
</section><!-- #intro -->


<!--==========================
  About Section
============================-->
<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>{{ anasayfa.anabaşlık }}</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img"> 
        <img src="{{ anasayfa.image.url }} " alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>{{ anasayfa.altbaşlık }}</h2>
        <p> {{ anasayfa.paragraf | safe }} </p>
      </div>
    </div>

  </div>
</section><!-- #about -->

<!--==========================
  Services Section
============================-->
<!-- <section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Hizmetlerimiz</h2>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box wow fadeInLeft">
          <div class="icon svgImg"><img src="{% static 'img/g1.jpg' %}" alt=""></div>
          <h4 class="title"><a href="">Başlık 1</a></h4>
          <p class="description">örnek bir paragraf.... örneek</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight">
            <div class="icon svgImg"><img src="{% static 'img/g2.jpg' %}" alt=""></div>
          <h4 class="title"><a href="">Başlık 2</a></h4>
          <p class="description">örnek bir paragraf.... örneek</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon svgImg"><img src="{% static 'img/g3.jpg' %}" alt=""></div>
          <h4 class="title"><a href="">Başlık 3</a></h4>
          <p class="description">örnek bir paragraf.... örneek</p>
        </div>
      </div>

    </div>

  </div>
</section> -->
<!-- #services -->

{% include 'partials/_client.html' %} 
{% include 'partials/_contactUs.html' %} 

{% endblock %}