{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
  Page Banner Section
============================-->
<section id="innerBanner"> 
  <div class="inner-content">
    <h2><span>Projelerimiz</span><br></h2>
    <div> 
    </div>
  </div> 
</section><!-- #Page Banner -->

<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container"> 

    <div class="row">

      <div class="col-lg-4">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-picture-o"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title">başlık</h4>
          <p class="description">açıklama</p>
        </div>
      </div>
      
    </div>
  </div>
</section><!-- #services -->

{% include 'partials/_contactUs.html' %}

{% endblock %}