{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<!--==========================
  Page Banner Section
============================-->
<section id="innerBanner"> 
  <div class="inner-content">
    <h2><span>Projelerimiz</span><br></h2>
    <div> 
    </div>
  </div> 
</section><!-- #Page Banner -->


<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container"> 

    <div>
      <center><h1>Biten Projeler</h1></center>
    </div>
    <div class="row">
      {% for proje in proje1 %}
        <div class="col-lg-4">
          <div class="box wow fadeInLeft">
            {% if proje.resim %}
              <img src="{{ proje.resim.url }}" alt="">
            {% endif %}
            <h4 class="title">{{proje.başlık}}</h4>
            <p class="description">{{proje.icerik | safe}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div>
      <center><h1>Devam Eden Projeler</h1></center>
    </div>
    <div class="row">
      {% for proje in proje2 %}
        <div class="col-lg-4">
          <div class="box wow fadeInLeft">
            {% if proje.resim %}
              <img src="{{ proje.resim.url }}" alt="">
            {% endif %}
            <h4 class="title">{{proje.başlık}}</h4>
            <p class="description">{{proje.icerik | safe}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    <div>
      <center><h1>Anlaşılan Projeler</h1></center>
    </div>
    <div class="row">
      {% for proje in proje3 %}
        <div class="col-lg-4">
          <div class="box wow fadeInLeft">
            {% if proje.resim %}
              <img src="{{ proje.resim.url }}" alt="">
            {% endif %}
            <h4 class="title">{{proje.başlık}}</h4>
            <p class="description">{{proje.icerik | safe}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section><!-- #services -->


{% include 'partials/_contactUs.html' %}
{% endblock %}